.listForStyle {
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    background: #66CCFF;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
}
.listForStyle span:hover {
    cursor: pointer;
}
.listForStyle .edtTask {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d1ccc0;
    border-radius: 2px;
    padding-left: 10px;
}